* {padding: 0; margin: 0;}

BODY {
	FONT-SIZE: 12px; 
	MARGIN: 0px; 
	COLOR: #636563; 
	line-height: 150%; 
	FONT-FAMILY: Arial, Trebuchet MS, Georgia, Verdana, Arial, Helvetica, sans-serif; 
	BACKGROUND-COLOR: #fff;
	
	background-image: url("../images/bg.png");
	background-repeat: repeat;
	background-position: center top;
}
